extends ../_layout

block data
    -
        var data = {
        	pageName: 'index',
        	pageTitle: 'index',
            bodyClass: 'index',
            hasOwnCss: true,
            hasOwnJs: true
            
        }

block content
    h1
        | some content
