.mp-section {
  padding-bottom: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-bottom: 1px solid #444;
  cursor: pointer;

  &__header {
    position: relative;
    &::after {
      content: 'V';
      position: absolute;
      right: 0;
    }
  }
}